# Environments / Secrets
.env
.venv/
venv/
env/
OpenEnv_Hackathon/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Build / Distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing / Tooling
.pytest_cache/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# OS config
.DS_Store
Thumbs.db
